* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: 20px;
}

body {
    background-color: #F2F9FE;
    height: 100vh;
    transition: 0.2s ease;
}

.poppins-regular {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
  }

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
}

#current {
    color: #223344;
}

.nav {
    list-style: none;
}

.nav li{
    display: inline-block;
    padding: 0px 40px;
    
}

.nav li a {
    text-decoration: none;
    color: #909193;
}

.button {
    background-color: #d2d2d2;
    background-image: url('../svg/Sun_fill.svg');
    background-repeat: no-repeat;
    background-position: 60px;
    width: 95px;
    height: 45px;
    border-radius: 200px;
    cursor: pointer;
    position: relative;
    transition: 0.2s;
}

.button::before {
    position: absolute;
    content: '';
    background-color: #fff;
    width: 40px;
    height: 40px;
    border-radius: 200px;
    margin: 2px;
    transition: 0.2s;
}

/*This toggles dark mode*/
input + .button::before{
    background-image: url("../svg/Moon_fill.svg");
    background-size: 2rem;
    background-repeat: no-repeat;
    background-color: white;
}



/*This toggles light mode*/
input:checked + .button {
    background-image: url("../svg/Moon_fill_light.svg");
    background-size: 1.5rem;
    background-position: 15px;
    background-repeat: no-repeat;
    background-color: #223344;
}


input:checked +.button::before {
    background-image: url("../svg/Sun_fill.svg");
}

input:checked + .button::before {
    transform: translate(50px);
}

input {
    display: none;
}

.container {
    margin-top: 40px;
    margin-left: 30px;
    display: flex;
}

.content {
    position: relative;
    left: 8rem;
    width: 25%;
}

#heading {
    font-size: 60px;
    font-weight: 700;
    color: #223344;
    margin : 20px 0px;
}

#sub-heading {
    font-size: 18px;
    color: #909193;
}

.links {
    margin: 30px 0;
}



#hero {
    width: 60%;
    position: relative;
    left: 20rem;
}


.big {
    padding: 20px 30px;
    margin-right: 20px;
    border: none;
    background-color: #2A4DD0;
    color: #F2F9FE;
    border-radius: 15px;
    font-size: 1rem;
    font-weight: 600;
    cursor: pointer;
}

a {
    font-weight: 600;
}

.info-text {
    display: flex;
}

.info-text {
    position: absolute;
    bottom: 11rem;
    left: 9rem;
    color: #909193;
}

#done {
    margin-left: 40px;
}

