body {
    font-family: 'Roboto', sans-serif;
    background-color: #FAFAF9;
    font-size: 16px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #FFFFFF;
    width: 300px;
    margin-top: 250px;
    border-radius: 15px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 10px;
}


.card img {
    padding: 5px;
    border-radius: 15px;
}

.sora {
  font-family: "Sora", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

span {
    font-size: 10px;
    background-color: #E6D6FC;
    color: #883AE1;
    margin-right: auto;
    padding: 5px;
    border-radius: 15px;

}

